extends layout

block content
  h2 TimeStamper API 
  h3 Example Usage
  p apitimestamper.herokuapp.com/September 5, 2017
  p apitimestamper.herokuapp.com/1504665359

  h3 Expected JSON Output 
  code {"unix":1504665359,"natural":"September 5, 2017"}
